---
const tagline = 'I Design, Develop and create crazy Things.';
---

<header
  class="fixed z-header grid w-full grid-cols-3 gap-4 p-4 text-white mix-blend-difference lg:grid-cols-6"
>
  <h1 class="text-[2rem] font-medium leading-none">
    <a href="/">Kite</a>
  </h1>
  <p class="sr-only">{tagline}</p>
  <nav class="col-span-4 col-start-3">
    <ul class="hidden grid-cols-4 gap-4 lg:grid">
      {
        [
          {
            label: `<span>About</span><span class="text-white group-hover:text-white" aria-hidden="true">${tagline}</span>`,
            slug: 'about',
          },
          {
            label: 'Works',
            slug: 'works',
            sub: [
              {
                label: 'Web',
                href: '/works/web/',
              },
              {
                label: 'Branding',
                href: '/works/branding/',
              },
              {
                label: 'Open Source',
                href: '/works/open-source/',
              },
            ],
          },
          {
            label: 'Follow',
            sub: [
              {
                label: 'Twitter',
                href: 'https://twitter.com/ixkaito',
                target: '_blank',
              },
              {
                label: 'Dribbble',
                href: 'https://dribbble.com/ixkaito',
                target: '_blank',
              },
              {
                label: 'Zenn',
                href: 'https://zenn.dev/ixkaito',
                target: '_blank',
              },
            ],
          },
          {
            label:
              '<span>Contact</span><span class="text-white group-hover:text-white">#407 MST MINAMIMORIMACHI, 1-3-29 MINAMIMORIMACHI, KITA-KU, OSAKA 530-0054</span>',
            slug: 'contact',
          },
        ].map(({ label, slug, sub }) => {
          return (
            <li>
              {slug ? (
                <a
                  href={`/${slug}/`}
                  set:html={label}
                  class="group flex flex-col gap-4 transition hover:text-[#f00]"
                />
              ) : (
                <p>{label}</p>
              )}
              {sub && (
                <ul class="mt-4">
                  {sub.map(
                    ({
                      label,
                      href,
                      target,
                    }: {
                      label: string;
                      href: string;
                      target?: string;
                    }) => {
                      return (
                        <li>
                          <a
                            href={href}
                            target={target}
                            class="transition hover:text-[#f00]"
                          >
                            {label}
                          </a>
                        </li>
                      );
                    }
                  )}
                </ul>
              )}
            </li>
          );
        })
      }
    </ul>
    <button class="grid gap-4 text-left uppercase lg:hidden">
      <span>Menu</span>
      <span aria-hidden="true">{tagline}</span>
    </button>
  </nav>
</header>
